*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  

}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    
}
 
nav{
    background: white;
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(22, 14, 77);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #FAE0D8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fas{
    display: none;
}
nav .far{
    display: none;
}



@media(max-width: 700px){
    nav{       
        padding: 4%;
    }
    nav img{
        width: 200px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #bed1d8;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .far{
        display: block;
        color: white;
        margin: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    nav .fas{
        display: block;
        color: #3B3086;
        margin: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.split {
    display: flex;
    height: 100%;
    position: relative;
    margin: 10px;
    justify-content: space-evenly;
}
.split div {
    flex-basis: 40%;
}
  
input[type=email], input[type=password], input[type=name], input[type=desc], input[type=PhoneNo] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.grade,.subject, .Edu{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
  
button {
    background-color: #3B3086;
    font-style: bold;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
}
.tutor,.parent{
    background-color: #3B3086;
    color: white;
    padding: 14px 20px;
    border-radius: 10px;
    margin: 8px 0;
    text-align: center;
    display: block;
    
}

button:hover {
    opacity: 0.8;
}

.container {
  
    padding: 60px 40px;
    background-color:whitesmoke;
    
}
  
.formContainer {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 60px 40px;
    background-color:whitesmoke;
}
.password{
    font-size: 14px;
} 

span.password {
    float: right;
    padding-top: 16px;
}
h2,p{
    
      text-align: center;
}
@media(max-width: 700px){
    .split{
        flex-direction: column;
    }
    .split div{
        margin: 10px;
    }
}

/* tutor Profile */

.profile-pic-div img {
    height: 100px;
    position:relative;
    display: block;
    margin-left:0%;
    margin-right: 0%;
    width: 100px;
    border-radius: 50%;
    padding: 15px 10px;
}
#photo{
    height: 50%;
    width: 50%;
}


#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.My-profile{
position: absolute;
width: 100%;
margin: auto;
padding-top: 20px;
text-align: center;
display: block;
}
.first-row-details{
display: flex;
margin: 20px;
padding: 20px 0;
justify-content: center;
background-color: #f1f1f1;
border-radius: 10px;
justify-content: space-evenly;
}
.left-col{
display: block;
}

.personal-info{
display: flex;
text-align: left;
justify-content: space-between;
}
.personal-info div{
flex-basis: 50%;
}
.tutor-col{
padding: 10px;
}
.student-col h2{
font-size: 20px;
font-weight: 600;
}
.student-col p{
font-size: 15px;
font-weight: 500;
line-height: 1.5;
}
.personal-info a{
padding-top: 10px;
padding-right: 10px;
font-size: 12px;
float: right;
text-decoration: none;
}
.right-col{
display: block;
align-items: center;
}
.right-col h2{
padding: 20px 0 10px;
font-size: 20px;
font-weight: 600;
}
.calendar{
width: 300px;
height:380px;
margin: 15px;
/* background-color: #6d8ae9; */
}
.month{
border: 1px solid #c3d1ff;
border-collapse: collapse;
width: 100%;
height: 70px;
background: #c3d1ff;
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
}
.month i{
padding: 0 10px;
font-size: 15px;
cursor: pointer;
}
.month h1{
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.2px;
margin-bottom: 5px;
}
.month p{
font-size: 12px;
font-weight: 500;
}
.weekdays{
border: 1px solid #c3d1ff;
/* border-collapse: collapse; */
width: 100%;
height: 30px;
/* padding: 0 10px; */
display: flex;
align-items: center;
}
.weekdays div{
border: 1px solid #c3d1ff;
border-collapse: collapse;
padding:7px 5px;
font-size: 12px;
font-weight: 500;
letter-spacing: 0.2px;
width: calc(320px/7);
display: flex;
justify-content: center;
align-items: center;
}
.days{
border: 1px solid #c3d1ff;
border-collapse: collapse;
width: 100%;
display: flex;
flex-wrap: wrap;
/* padding: 10px; */
}
.days div{
border: 1px solid #c3d1ff;
/* border-collapse: collapse; */
font-weight: 500;
font-size: 12px;
padding: 11.15px;
width: calc(130px/7);
height: 20px;
display: flex;
align-items: center;

}
.prev-date, .next-date{
color: #0000007c;
}
.today{
background-color: #c3d1ff;
}
.sec-row-class{
display: block;
margin: 20px;
padding: 20px 0;
background-color: #f1f1f1;
border-radius: 10px;
}
.sec-row-class h1{
font-size: 22px;
font-weight: 700;
}
.class-created{
border: 2px solid #c3d1ff;
display: flex;
margin: 10px;
justify-content: space-between;
border-radius: 10px;
}
.class-created div{
padding: 10px;
display: block;
}
.class-details{
line-height: 1.5;
text-align: left;
justify-content: center;
}
.class-details h3{
font-size: 20px;
font-weight: 600;
}
.class-details p{
font-weight: 500;
font-size: 15px;
}
.hyperlink-pages{
text-align: left;
line-height: 1.5;
margin-top: auto;
margin-bottom: auto;
}

.hyperlink-pages button, a{
color: #465a9b;
border: none;
text-decoration: underline;
cursor: pointer;
font-weight: 500;
font-size: 15px;
line-height: 1.5;
}

@media(max-width: 700px) {
   .first-row-details, .personal-info, .class-created{
        flex-direction: column;
    }
    .personal-info{
        flex-direction: column;
    }
    .personal-info a{
        padding-left: 10px;
    }
    .class-details{
        text-align: center;
    }
    .hyperlink-pages{
        text-align: center;
    }
    .hyperlink-pages button,a{
        font-size: 10px;
        line-height: 1.5;
    }
}